<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <!-- Librerías de Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        {% stylesheets 'AppBundle/Resources/css/sidebar.css''@AppBundle/Resources/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ path('homepage') }}">Tecnologías Web Avanzadas</a>

                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{ path('homepage') }}">Proyectos</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Usuarios<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{ path('user_registration') }}">Agregar usuario</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if app.user %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Mi Cuenta <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Cambiar contraseña</a></li>
                                <li class="active"><a href="{{ path('logout') }}">
                                        Cerrar Sesión
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="active">
                            <a href="{{ path('login') }}">
                                <span class="glyphicon glyphicon-log-in"></span> Iniciar Sesión
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>

        </nav>
        <div class="row">
            <div class="side-menu">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <div class="brand-wrapper">
                            <div class="brand-name-wrapper">
                                <div class="navbar-brand">
                                    Proyectos
                                </div>

                            </div>

                            <!-- Search -->


                            <a data-toggle="collapse" href="#search" id="search-trigger">
                                <span class="glyphicon glyphicon-search"></span>
                            </a>

                            <!-- Search body -->
                            <div id="search" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <form class="navbar-form" role="search">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Search">
                                        </div>
                                        <button type="submit" class="btn btn-default "><span class="glyphicon glyphicon-ok"></span></button>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Main Menu -->
                    <div class="side-menu-container">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="{{ path('registrar_proyecto') }}" >
                                    <span class="glyphicon glyphicon-plus"></span> Agregar Proyecto
                                </a>
                            </li>
                            {% for proyecto in proyectos %}
                                <li>
                                    <a href="{{ path('detalle_proyecto', {'id_proyecto': proyecto.id}) }}">{{ proyecto.nombre }}</a>
                                </li>
                            {% endfor %}

                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>

            </div>
            <div class="container-fluid">
                <div class="side-body">
                    {% block body %}
                    {% endblock %}
                </div>
            </div>
        </div>


        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        {% block javascripts %}
        {% endblock %}
        {% stylesheets 'AppBundle/Resources/css/sidebar.css''@AppBundle/Resources/css/*' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    </body>
</html>
