{% extends "base.html.twig" %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <center><h1>Asignación trabajador</h1></center>
                <br><br>
                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Búsqueda por Rut ...">
                <table id="myTable" class="table table-striped">
                    <thead>
                    <tr>
                        <th>Rut</th>
                        <th>Nombre</th>
                        <th>Apellido paterno</th>
                        <th>Apellido materno</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for trabajador in trabajadores %}
                        {{ form_start(form) }}
                        <tr>
                            <td>{{ trabajador.rut}}</td>
                            <td>{{ trabajador.nombre }}</td>
                            <td>{{ trabajador.apellido_paterno }}</td>
                            <td>{{ trabajador.apellido_materno }}</td>
                            <input type="hidden"  name="ruttrabajador" value="{{ trabajador.rut }}">
                            <input type="hidden" name="idproyecto" value=" {{ idproyecto }}">
                            <td><button type="submit" class="btn btn-primary ">Registrar</button></td>
                        </tr>
                        {{ form_end(form) }}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        function myFunction() {

            // Declare variables
            var input, filter, table, tr, td, i;

            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {

                td1 = tr[i].getElementsByTagName("td")[0]

                if (td1) {

                    if (td1.innerHTML.toUpperCase().indexOf(filter) <= -1) {

                        tr[i].style.display = "none";

                    } else {

                        tr[i].style.display = "";

                    }

                }

            }
        }
    </script>
{% endblock %}