{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h2>¿Que hay de nuevo?</h2>
        <p>Lista de Feeds</p>
        {{ form_start(form, {'method': 'POST'}) }}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Usuario</th>
                <th>Descripción</th>
                <th>Fecha</th>
            </tr>
            </thead>
            <tbody>
            {% for feed in feeds %}
                <tr>
                    <td>{{ feed.id }}</td>
                    <td>{{ feed.rutusuario }}</td>
                    <td>{{ feed.descripcion }}</td>
                    <td>{{ feed.fecha|date('Y-m-d') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ form_end(form) }}
    </div>
{% endblock %}

