{% extends 'base.html.twig' %}

{%  block body %}

    <div class="container">
        <div class="main-login main-center">
            <div class="panel-heading">
                <div class="panel-title text-center">
                    <h1>{{ proyecto.nombre }}</h1>
                </div>
            </div>
            <div class="page-header">
                <h2>Director</h2>
            </div>
            <p>Nombre: {{ proyecto.rutdirector.nombre}}</p>
            <p>Rut: {{ proyecto.rutdirector.rut}}</p>
            <div class="page-header">
                <h2>Representante Legal</h2>
            </div>
            <p>Nombre: {{ proyecto.rutrepresentante.nombre }}</p>
            <p>Rut: {{ proyecto.rutrepresentante.rut}}</p>
            <div class="page-header">
                <h2>Trabajadores</h2>
            </div>
            <table class="table table-striped">
            <thead>
            <tr>
                <th>Rut</th>
                <th>Nombre</th>
                <th>Apellido paterno</th>
                <th>Apellido materno</th>
            </tr>
            </thead>
                <tbody>
            {% for trabajador in trabajadores %}
                <tr>
                    <td>{{ trabajador.rut}}</td>
                    <td>{{ trabajador.nombre }}</td>
                    <td>{{ trabajador.apellidopaterno }}</td>
                    <td>{{ trabajador.apellidomaterno }}</td>
                </tr>
            {% endfor %}
                </tbody>
            </table>
            <div class="page-header">
                <h2>Archivos</h2>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Estado</th>
                            <th>Descargar</th>
                            {% if is_granted('ROLE_ADMIN') %}
                                <th>Editar</th>
                                <th>Eliminar</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody id="tbody"
                           data-pathEditar="{{ path ('editar_archivo') }}"
                           data-pathEliminar="{{ path ('eliminar_archivo') }}">
                        {% if archivos is defined and archivos is not empty  %}
                            {% for archivo in archivos %}
                                <tr id={{ archivo.id }}>
                                    <td>
                                        <span id="nombre_{{ archivo.id }}">{{ archivo.nombre }}</span>
                                    </td>
                                    <td>
                                        <span id="estado_{{ archivo.id }}">{{ archivo.estado }}</span>
                                    </td>
                                    <td>
                                        <a  href="{{ path('descargar_archivo', {'id_archivo': archivo.id}) }}">
                                            <span class="glyphicon glyphicon-download-alt text-info"></span>
                                        </a>
                                    </td>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <td>
                                            <button id="btnEdit_{{ archivo.id }}" class="btnEdit btn-link" href="#" data-editing = "0">
                                                <span id="spnEdit_{{ archivo.id }}" class="glyphicon glyphicon-pencil text-warning"></span>
                                            </button>
                                        </td>
                                        <td>
                                            <button id="btnDelete_{{ archivo.id }}" class="btnDelete btn-link" href="#">
                                                <span class="glyphicon glyphicon-remove text-danger"></span>
                                            </button>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>

                {% if is_granted('ROLE_ADMIN') %}
                    <a class="btn btn-info btn-default" href="{{ path('registrar_archivo', {'id_proyecto': proyecto.id}) }}">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>

                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {% javascripts
    '@AppBundle/Resources/js/archivos.js'
    '@AppBundle/Resources/js/*' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}