{% extends 'base.html.twig' %}

{%  block body %}

    <div class="container">
        <h2>Proyectos</h2>
        <p>Lista de proyectos</p>
        {{ form_start(form, {'method': 'POST'}) }}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Fecha inicio</th>
                <th>Fecha término</th>
                <th>Estado</th>
                <th>Detalles</th>
            </tr>
            </thead>
            <tbody>
            {% for proyecto in proyectos %}
                <tr>
                    <td>{{ proyecto.nombre }}</td>
                    <td>{{ proyecto.fechainicio|date('Y-m-d') }}</td>
                    <td>{{ proyecto.fechatermino|date('Y-m-d') }}</td>
                    <td>{{ proyecto.estado }}</td>
                    <td>
                        <a class="btn btn-info btn-xs" href="{{ path('detalle_proyecto', {'id_proyecto': proyecto.id}) }}">Ver</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ form_end(form) }}
    </div>

{% endblock %}
