{% extends "base.html.twig" %}
{% block body %}
    <div class="container">
        <div class="main-login main-center">
            <div class="panel-heading">
                <div class="panel-title text-center">
                    <h1 class="title">Registro de usuario</h1>
                </div>
            </div>
            {% block form_start -%}
                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

                    <div class="form-group">
                        {{ form_row(form.rut) }}
                        {{ form_row(form.nombre) }}
                        {{ form_row(form.apellido_paterno) }}
                        {{ form_row(form.apellido_materno) }}
                        {{ form_row(form.email) }}
                        {{ form_row(form.plainPassword.first) }}
                        {{ form_row(form.plainPassword.second) }}

                    {% block button_widget -%}
                        <button type="submit" class="btn btn-primary ">Registrar</button>
                    {%- endblock %}
                    </div>
                {{ form_end(form) }}
            {%- endblock form_start %}
        </div>
    </div>
{% endblock %}