{% extends "base.html.twig" %}
{% block body %}
    <div class="container">
        <div class="main-login main-center">
            <div class="panel-heading">
                <div class="panel-title text-center">
                    <h1 class="title">Registro de usuario</h1>
                </div>
            </div>
            {% block form_start -%}
                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                        <div class="form-group row">
                            {{ form_errors(form.rut) }}
                            <div class="input-group col-sm-4">
                                <div class="input-group-addon" id="rut-addon">
                                    <span></span>
                                </div>
                                {{ form_widget(form.rut,{'attr': {
                                    'aria-describedby': 'rut-addon',
                                    'class': 'soloRut'}}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            {{ form_label(form.nombre) }}
                            {{ form_errors(form.nombre) }}
                            <div class="input-group col-sm-4">
                                <div class="input-group-addon" id="rut-addon">
                                    <span></span>
                                </div>
                                {{ form_widget(form.nombre,{'attr': {
                                    'aria-describedby': 'nombre-addon',
                                    'class': 'soloTexto'}}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            {{ form_label(form.apellido_paterno) }}
                            {{ form_errors(form.apellido_paterno) }}
                            <div class="input-group  col-sm-4">
                                <div class="input-group-addon" id="rut-addon">
                                    <span></span>
                                </div>
                                {{ form_widget(form.apellido_paterno,{'attr': {
                                    'aria-describedby': 'apellido_paterno-addon',
                                    'class': 'soloTexto'}}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            {{ form_label(form.apellido_materno) }}
                            {{ form_errors(form.apellido_materno) }}
                            <div class="input-group col-sm-4">
                                <div class="input-group-addon" id="rut-addon">
                                    <span></span>
                                </div>
                                {{ form_widget(form.apellido_materno,{'attr': {'aria-describedby': 'apellido_materno-addon',
                                    'class': 'soloTexto'}}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            {{ form_label(form.email) }}
                            {{ form_errors(form.email) }}
                            <div class="input-group input-group col-sm-4">
                                <div class="input-group-addon" id="rut-addon">
                                    <span></span>
                                </div>
                                {{ form_widget(form.email,{'attr': {
                                    'aria-describedby': 'email-addon',
                                    'class': 'soloEmail'}}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            {{ form_label(form.plainPassword.first) }}
                            {{ form_errors(form.plainPassword.first) }}
                            <div class="input-group col-sm-4">
                                <div class="input-group">
                                    <div class="input-group-addon" id="rut-addon">
                                        <span></span>
                                    </div>
                                    {{ form_widget(form.plainPassword.first,{'attr': {
                                        'aria-describedby': 'password_firts-addon',
                                        'class': 'soloPassword'}}) }}
                                </div>
                                <small id="password" class="form-text text-muted">
                                    Su contraseña de tener al menos 8 caracteres. con al menos 1 letra,
                                     1 número, 1 letra máyuscula, 1 letra minuscula y 1 caracter especial.
                                </small>
                            </div>
                        </div>
                        <div class="form-group row">
                            {{ form_label(form.plainPassword.second) }}
                            {{ form_errors(form.plainPassword.second) }}
                            <div class="input-group col-sm-4">
                                <div class="input-group-addon" id="rut-addon">
                                    <span></span>
                                </div>
                                {{ form_widget(form.plainPassword.second,{'attr': {
                                    'aria-describedby': 'password_second-addon',
                                    'class': 'soloPasswordRepetido'}}) }}
                            </div>
                        </div>

                    {% block button_widget -%}
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    {%- endblock %}
                {{ form_end(form) }}
            {%- endblock form_start %}
        </div>
    </div>
{% endblock %}